:root {
    --color-primary: #e7ab3c;
    --color-secondary: #252525;
    --color-accent: #4c4c4c;
    --color-headings: #252525;
    --color-body: #636363;
    --color-body-lighter: #b2b2b2;
    --color-border: #e5e5e5;
}


/* Reset */

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

ul li {
    list-style: none;
}

input {
    outline: none;
}

button {
    cursor: pointer;
}



/* Typography */

::selection {
    background: var(--color-primary);
    color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--color-body);
    font-family: Inter, Arial, Helverica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
    font-weight: 500;
}

p {
    margin-top: 0;
}


@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2.4rem;
    }
}

/* Containers */
#header .container, #hero .container {
    max-width: 80%;
    margin: 0 auto;
}

#main .container {
    max-width: 90%;
    margin: 0 auto;
}

/* LISTS */
.inline-list {
    display: flex;
}

/* GRIDS */
.grid {
    display: grid;
}

.grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-1x3 {
    grid-template-columns: repeat(3, 1fr);
}

/* COLLAPSIBLES */
.collapsible__header {
    display: flex;
    justify-content: flex-end;
}

.collapsible__icon {
    transition: transform 300ms;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 300ms;

}

.collapsible--expanded .collapsible__icon {
    transform: rotate(-90deg);
}

.collapsible--expanded .collapsible__content {
        max-height: 100vh;
        opacity: 1;
}

/* BADGES */
.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 154px;
    width: 154px;
    background-color: var(--color-primary);
    border-radius: 50%;
}

.badge__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 145px;
    border: 2px dashed #fff;
    border-radius: 50%;
}

.badge__content p {    
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
}

/* BUTTONS */
.btn-primary {
    display: inline-block;
    width: fit-content;
    background-color: var(--color-primary);
    border: none;
    color: #fff;
    padding: 1.2rem 3rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.btn-secondary {
    display: inline-block;
    width: fit-content;
    background-color: #fff;
    border: 1px solid var(--color-border);
    color: #000;
    padding: 1.2rem 3rem;
    font-size: 1.4rem;
    font-weight: 600;
}

/* SEARCH INPUTS */
.search-input {
    display: flex;
}

.search-input input {
    padding: 1.5rem;
    border: 1px solid var(--color-border);
    border-right: none;
}

.search-input i {
    background-color: var(--color-primary);
    padding: 1.5rem;
    color: #fff;
}

/* NOTIFICATION-BTN */
.notification-btn {
    position: relative;
}

.notification-btn .fa {
    color: var(--color-accent);
    font-size: 2rem;
}

.notification-btn__badge {
    position: absolute;
    top: -2px;
    right: -6px;
    color: #fff;
    background-color: var(--color-primary);
    font-size: 1rem;
    line-height: 1;
    height: 12px;
    width: 12px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
}

/* GENDER CARDS */

.gender-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 620px;
    background: url(../images/women-large.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gender-card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gender-card__content h2 {
    text-align: center;
    color: #fff;
    font-size: 4.8rem;
    font-weight: 500;
}

.gender-card__content a {
    width: fit-content;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    border-bottom: 2px solid var(--color-border);
}

/* ITEMS CARDS */
.item-card {
    height: 450px;
    width:267px;
    text-align: center;
}

.item-card__image {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: url(../images/xwomen-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 325px;
}

.item-card__btns {
    width: 80%;
    height: 52px;
    display: flex;
    justify-content: center;
}

.item-card__btns .btn-primary {
    width: 39px;
    height: 52px;
    padding: 0 10px;
}

.item-card__btns .btn-secondary {
    font-size: 1.5rem;
    padding: 0 10px;

}

.item-card__like-btn {
    position: absolute;
    top: 10px;
    left: 230px;
}

.item-card__desc {
    text-align: center;
    padding-top: 1.6rem;
}

.item-card__desc__category {
    font-size: 1rem;
    color: var(--color-body-lighter);
}

.item-card__desc__name {
    font-size: 1.8rem;
    color: var(--color-headings);
}

.item-card__desc__price {
    font-size: 2rem;
    color: var(--color-primary);
    font-weight: 500;
}




/* HEADER TOP */

.header__top {
    border-bottom: 1px solid var(--color-border);
    font-size: 1.5rem;
}

.header__top .container {
    display: flex;
    height: 55px;
    justify-content: space-between;
    align-items: center;
}

.header__top__contact {
    display: flex;
}

.header__top__contact__email {
    border-right: 1px solid var(--color-border);
    padding-right: 2rem;
}

.header__top__contact__phone {
    padding-left: 2rem;

}

.header__top__social{
    display: flex;
    gap: 2rem;
}

.header__top__social__social-icons {
    display: flex;
    border-right: 1px solid var(--color-border);
    padding-right: 2rem;
    gap: 2rem;
}

.header__top__social__lang {
    border-right: 1px solid var(--color-border);
    padding-right: 2rem;
}

.header__top__social__lang select {
    border: none;
    background-color: #fff;
    color: var(--color-body);
    outline: none;
}

.header__top__social__login {
    color: var(--color-body);
}

@media screen and (max-width: 900px) {
    #header .container {
        max-width: 95%;
    }
}

@media screen and (max-width: 768px) {
    .header__top__contact, .header__top__social__social-icons{
        display: none;
    }
    #header .container {
        max-width: 80%;
        justify-content: flex-end;
    }
}

/* HEADER MIDDLE */

.header__middle {
    height: 128px;
}
.header__middle .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 80%;
}

.header__middle__search {
    display: flex;
    width: 60%;
}

.header__middle__search__categories {
    padding-left: 1rem;
    border: 1px solid var(--color-border);
    border-right: 1rem solid #fff;
    background-color: #fff;
    color: var(--color-accent);
    text-align: left;
    width: 30%;
}

.header__middle__search .search-input {
    width: 70%;
}

.header__middle__search .search-input input {
    width: 100%;
}

.header__middle__cart {
    display: flex;
    gap: 2rem;
}

.header__middle__cart__total {
    color: #252525;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .header__middle .container {
        flex-direction: column;
        gap: 1rem;
    }

    .header__middle__search {
        width: 100%;
    }

    .header__middle__search__categories {
        display: none;
    }

    .header__middle__search .search-input {
        width: 100%;
    }

    .header__middle__search .search-input i {
        font-size: 1.5rem;
    }

    .header__middle__cart {
        align-self: flex-start;
    }
}

/* HEADER-BOTTOM */

.header__bottom {
    background-color: var(--color-secondary);
}

.header__bottom__upper {
    display: flex;
    background-color: var(--color-secondary);
    align-items: center;
    height: 50px;
}

.header__bottom__depart {
    background-color: #3b3b3b;
    color: #fff;
    font-size: 1.4rem;
    height: inherit;
    width: 25%;
    border: 1rem solid #3b3b3b;
}

.main-nav {
    flex-grow: 1;
    height: inherit;

}

.main-nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: inherit;
}

.main-nav__links li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #4c4c4c;
    height: inherit;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 700;
    
    transition: background-color 250ms;
    padding: 0 1rem;
}


.main-nav__links li:hover {
    background-color: var(--color-primary);
    cursor: pointer;
}

.main-nav__links li a {
    color: #fff;

}

.header__bottom__lower {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--color-accent);
}
.header__bottom__lower .collapsible__icon {
    align-self: flex-end;
    font-size: 3.5rem;
    color: var(--color-secondary);
}

.header__bottom__lower__nav{
    padding-top: 1rem;
    padding-left: 2rem;
}

.header__bottom__lower__nav__links li {
    margin-bottom: 1rem;
    padding: 0 1rem;
    border-radius: 5px;
    transition: background-color 250ms;
}

.header__bottom__lower__nav__links li:hover {
    background-color: #ccc;
    cursor: pointer;
}

.header__bottom__lower__nav__links li a {
    color: #fff;
}

@media screen and (max-width: 768px) {
    .header__bottom__upper {
        display: none;
    }
    .header__bottom__lower {
    margin-top: 2rem;
    }
}

/* HERO */
.hero {
    display: block;
    background: url(../images/hero-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 725px;
    background-color: aqua;
    position: relative;
}

.hero .container{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__content {
    width: 50%;
}

.hero__content__category {
    color: var(--color-primary);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.hero__content__heading {
    font-size: 7.2rem;
    margin-bottom: 1rem;
}

.hero__content__desc {
    font-size: 1.6rem;
    margin-bottom: 4.2rem;
}

.hero .badge {
    position: absolute;
    left: 50%;
    top: 150px;
}

@media screen and (max-width: 1040px) {
    .hero__content {
        width: 70%;
    }
    .hero .badge {
        left: 65%;
    }
}

@media screen and (max-width: 768px) {
    .hero__content {
        width: 100%;
    }

    .hero {
    background-position: left;
    }

    .hero .badge {
        display: none;
    }
}

/* BANNER */
.banner-content {
    height: 320px;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.banner-content div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: inherit;
    width: 32%;
}

.banner-content__men {
    background: url(../images/xbanner-1.jpg);    
}

.banner-content__women {
    background: url(../images/xbanner-2.jpg);    
}

.banner-content__kids {
    background: url(../images/xbanner-3.jpg);    
}

.banner-content__desc {
    background-color: #fff;
    color: var(--color-headings);
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 2.8rem;
}

@media screen and (max-width: 1000px) {
    .banner-content{
        flex-direction: column;
        align-items: center;
        height: 1600px;

    }

    .banner-content div {
        width: 100%;
    }

    .banner-content__desc {
        font-size: 2.4rem;

    }
    
}




