    <section class="banner">
            <div class="banner-content">
                <div class="banner-content__men">
                    <p class="banner-content__desc">Men's</p>
                </div>
                <div class="banner-content__women">
                    <p class="banner-content__desc">Women's</p>
                </div>
                <div class="banner-content__kids">
                    <p class="banner-content__desc">Kid's</p>
                </div>
            </div>
    </section>