<div class="benifits">
    <div class="benifits__item">
        <i class="fa fa-truck benifits__item__icon"></i>
        <span class="benifits__item__desc">
            <h4>FREE SHIPPING</h4>
            <p>For all orders over $99</p>
        </span>
    </div>
    <div class="benifits__item">
        <i class="fa fa-stopwatch benifits__item__icon"></i>
        <span class="benifits__item__desc">
            <h4>DELIVERY ON TIME</h4>
            <p>If good have problems</p>
        </span>
    </div>
    <div class="benifits__item">
        <i class="fa fa-truck benifits__item__icon"></i>
        <span class="benifits__item__desc">
            <h4>SECURE PAYMENT</h4>
            <p>100% secure payment</p>
        </span>
    </div>
</div>