        <div class="blog-card">

            <div class="blog-card__img"></div>

            <div class="blog-card__date">
                <span>
                    <i class="blog-card__date__icon fa fa-calendar"></i>
                    <span>May, 4 2022</span>
                </span>
                <span>
                    <i class="blog-card__date__icon fa fa-comment"></i>
                    <span>5</span>
                </span>
            </div>

            <h3 class="blog-card__heading">
                The Best Street Style From London Fashion Week
            </h3>
            <p class="blog-card__content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius earum perferendis est rerum! Corporis, odio.
            </p>

        </div>