        <section class="header__bottom">
            <div class="container">
                <div class="header__bottom__upper">
                    <select class="header__bottom__depart" name="departments">
                            <option value="All Categories">All DEPARTMENTS</option>
                        </select>
                        <nav class="main-nav">
                            <ul class="main-nav__links">
                                <li>HOME</li>
                                <li>SHOP</li>
                                <li>COLLECTION</li>
                                <li>BLOG</li>
                                <li>CONTACT</li>
                                <li>PAGES</li>
                            </ul>
                        </nav>
                </div>
                <div class="header__bottom__lower">
                    <a href=""><i class="fa fa-arrow-circle-left"></i></a>
                    <nav class="header__bottom__lower__nav">
                            <ul class="header__bottom__lower__nav__links">
                                <li>Home</li>
                                <li>Shop</li>
                                <li>Collection</li>
                                <li>Blog</li>
                                <li>Contact</li>
                                <li>Pages</li>
                            </ul>
                    </nav>
                </div>
            </div>
        </section>