    <section class="hero">
        <div class="container">
            <div class="hero__content">
                <p class="hero__content__category">BAG.KIDS</p>
                <h1 class="hero__content__heading">Black friday</h1>
                <p class="hero__content__desc description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis exercitationem in blanditiis nemo vel deleniti?</p>
                <button class="btn-primary">SHOP NOW</button>
            </div>
        </div>
        <div class="badge">
            <div class="badge__content"><p>SALE 50%</p></div>
        </div>
    </section>