                        <div class="notification-btn cart-hover-btn" href="">
                            <i class="fa fa-cart-plus"></i>
                            <span class="notification-btn__badge">1</span>
                            <div class="cart">
                                <div class="cart__items">
                                    <div class="cart__items__item">
                                        <img src="images/jacket.jpg" alt="">
                                        <div class="cart__item-detail">
                                            <span class="cart__item-price">$60.00 x </span><span class="cart__item-qty">1</span>
                                            <div class="cart__item-name">Kabino Bedside Table</div>
                                        </div>
                                        <button class="cart__item__remove-btn">X</button>
                                    </div>
                                    <div class="cart__items__item">
                                        <img src="images/yellow-dress.jpg" alt="">
                                        <div class="cart__item-detail">
                                            <span class="cart__item-price">$60.00 x </span><span class="cart__item-qty">1</span>
                                            <div class="cart__item-name">Kabino Bedside Table</div>
                                        </div>
                                        <button class="cart__item__remove-btn">X</button>
                                    </div>
                                    <div class="cart__items__item"></div>
                                </div>
                                <div class="cart__total">
                                    <span>TOTAL:</span>
                                    <span class="cart__total__total-price">$120.00</span>
                                </div>
                                <button class="btn-primary cart__view-cart-btn">VIEW CART</button> 
                                <button class="btn-primary cart__checkout-btn">CHECK OUT</button> 
                            </div>
                        </div>