        <div class="timer">
            <div class="timer__item">
                <span class="timer__item__val">27</span>
                <p class="timer__item__desc description">DAYS</p>
            </div>
            <div class="timer__item">
                <span class="timer__item__val">27</span>
                <p class="timer__item__desc description">DAYS</p>
            </div>
            <div class="timer__item">
                <span class="timer__item__val">27</span>
                <p class="timer__item__desc description">DAYS</p>
            </div>
            <div class="timer__item">
                <span class="timer__item__val">27</span>
                <p class="timer__item__desc description">DAYS</p>
            </div>
        </div>