<section class="women">
            <div class="container">
                <div class="gender-card">
                    <div class="gender-card__content">
                        <h2>Women's</h2>
                        <a href="">Discover More</a>
                    </div>
                </div>
                <div class="item-slider">
                    <ul class="item-slider__nav">
                        <li><a href="">Clothings</a></li>
                        <li><a href="">Handbags</a></li>
                        <li><a href="">Shoes</a></li>
                        <li><a href="">Accessories</a></li>
                    </ul>
                    <div class="item-slider__items">
                        <div class="item-card">
                            <div class="item-card__image">
                                <div class="item-card__btns">
                                    <button class="btn-primary"><i class="fa fa-cart-plus"></i></button>
                                    <button class="btn-secondary">+ Quick View</button>
                                    <button class="btn-secondary"><i class="fa fa-thumbs-up"></i></button>
                                </div>
                                <i class="fa fa-heart item-card__like-btn"></i>
                            </div>
                            <div class="item-card__desc">
                                <p class="item-card__desc__category">TOWEL</p>
                                <p class="item-card__desc__name">Pure Pineapple</p>
                                <p class="item-card__desc__price">$32.00</p>
                            </div>
                        </div>

                        <div class="item-card">
                            <div class="item-card__image">
                                <div class="item-card__btns">
                                    <button class="btn-primary"><i class="fa fa-cart-plus"></i></button>
                                    <button class="btn-secondary">+ Quick View</button>
                                    <button class="btn-secondary"><i class="fa fa-thumbs-up"></i></button>
                                </div>
                                <i class="fa fa-heart item-card__like-btn"></i>
                            </div>
                            <div class="item-card__desc">
                                <p class="item-card__desc__category">TOWEL</p>
                                <p class="item-card__desc__name">Pure Pineapple</p>
                                <p class="item-card__desc__price">$32.00</p>
                            </div>
                        </div>

                        <div class="item-card">
                            <div class="item-card__image">
                                <div class="item-card__btns">
                                    <button class="btn-primary"><i class="fa fa-cart-plus"></i></button>
                                    <button class="btn-secondary">+ Quick View</button>
                                    <button class="btn-secondary"><i class="fa fa-thumbs-up"></i></button>
                                </div>
                                <i class="fa fa-heart item-card__like-btn"></i>
                            </div>
                            <div class="item-card__desc">
                                <p class="item-card__desc__category">TOWEL</p>
                                <p class="item-card__desc__name">Pure Pineapple</p>
                                <p class="item-card__desc__price">$32.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>