            <section class="women">
                <div class="container">
                    <div class="gender-card">
                        <div class="gender-card__content">
                            <h2>Women's</h2>
                            <a href="">Discover More</a>
                        </div>
                    </div>
                    <div class="item-slider">
                        <ul class="item-slider__nav">
                            <li><a href="">Clothings</a></li>
                            <li><a href="">Handbags</a></li>
                            <li><a href="">Shoes</a></li>
                            <li><a href="">Accessories</a></li>
                        </ul>
                        <div class="item-slider__items js-items responsive"></div>
                    </div>
                </div>
            </section>